/*
Theme Name: Placid-Clean
Template: placid
Version: 1.0.7
*/


ul {
    margin-left: 0;
}

a,
a:visited {
    color: #429ad4;
}

/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/
ステップ１ .single-post article.post .entry-title {
    font-size: 30px;
}

.single-post .related-post article .entry-title {
    font-size: 20px;
    margin-top: 0;
}

/*--------------------------------------------------------------
# Search Result
--------------------------------------------------------------*/

.search-no-results #primary .page-content,
.error404 #primary .page-content {
    float: none;
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/

.main-navigation ul li a {
    font-weight: normal;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

#secondary .widget ul.children li:first-child {
    padding-top: 10px;
}

#secondary .widget ul.children li:last-child {
    padding-bottom: 0;
}