/*
Theme Name: Placid-Clean
Template: placid
Version: 1.0.7
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Noto, Hiragino Sans, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}

ul,
ol,
li>ul,
li>ol {
    margin-left: 0;
}

a,
a:visited {
    color: #429ad4;
}

input,
textarea {
    max-width: 100%;
}

textarea {
    height: 200px;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

#primary {
    padding: 0;
}

@media (min-width: 991px) {
    #primary {
        width: calc(100% / 3 * 2);
        padding-right: 15px;
    }

    #secondary {
        width: calc(100% / 3);
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-branding .site-title a {
    line-height: 40px;
}

.site-branding .site-title a:hover,
.entry-header .entry-title a:hover {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/

#primary article {
    border: none;
}

article.post .entry-meta {
    color: #999;
}

.byline,
.updated:not(.published) {
    display: inline;
}

.single-post article.post .entry-title {
    font-size: 30px;
    text-align: center;
}

.single-post article.post .entry-meta {
    text-align: center;
}

.single-post article.post .post-thumb img {
    float: none;
    margin-top: 30px;
    margin-bottom: 40px;
}

.entry-content p,
.entry-content ul,
.entry-content table,
.entry-content figure {
    font-size: 17px;
    margin-bottom: 60px;
}

.single-post article.post .entry-content li ul {
    margin-bottom: 0;
}

article .entry-content h2 {
    background: #f7f7f7;
    padding: 20px 15px 18px;
    color: #333;
    border-left: 9px solid #429ad4;
    line-height: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
}

article .entry-content h3 {
    letter-spacing: 1.6px;
    padding: 0px 15px 0px;
    border-left: 9px solid #429ad4;
    color: #333;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 40px;
}

/*--------------------------------------------------------------
## Page
--------------------------------------------------------------*/

.page article.page .entry-title {
    font-size: 30px;
    text-align: center;
}

/*--------------------------------------------------------------
## Related Post
--------------------------------------------------------------*/

.related-post .row {
    display: flex;
    flex-flow: row wrap;
}

.related-post article {
    box-shadow: none;
    margin: 15px;
}

@media (min-width: 530px) {
    .related-post article {
        width: calc(100% / 2 - 30px)
    }
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/

.sticky::before {
    top: 10px;
    left: 10px;
}

.has-post-thumbnail .entry-header .entry-title {
    margin-top: 0;
}

/*--------------------------------------------------------------
# Search Result
--------------------------------------------------------------*/

.search-no-results #primary .page-content,
.error404 #primary .page-content {
    float: none;
}

@media (min-width: 767px) {
    .search-results article.has-post-thumbnail .entry-header {
        width: 50%;
    }
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/

.top-header {
    padding: 30px 0;
}

.mid-header {
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .25);
}

.mid-header .main-navigation ul li a {
    font-weight: normal;
    font-size: 14px;
}

.main-navigation ul ul {
    background: #ffffff;
}

.main-navigation li li {
    border-bottom: none;
}

@media (max-width: 1023px) {
    .main-navigation ul ul>li>a {
        padding: 0 20px;
    }
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

#secondary .widget ul.children li:first-child {
    padding-top: 10px;
}

#secondary .widget ul.children li:last-child {
    padding-bottom: 0;
}

#secondary .widget.popular-posts .wpp-list {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#secondary .widget.popular-posts .wpp-list li {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: 100%;
}

@media (min-width: 530px) and (max-width: 991px) {
    #secondary .widget.popular-posts .wpp-list li {
        width: calc(100% / 2 - 30px);
    }
}

#secondary .widget.popular-posts .wpp-list li a,
#secondary .widget.popular-posts .wpp-list li a img {
    width: 100%;
    max-width: 100%;
}

/*--------------------------------------------------------------
# Foorter
--------------------------------------------------------------*/

.site-footer ul li ul li:last-child {
    padding-bottom: 0;
}

/*--------------------------------------------------------------
# SNS
--------------------------------------------------------------*/

.sns_section {
    margin: 20px -2px 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
}

.sns_section .sns_button {
    display: block;
    width: calc(100% / 5 - 4px);
    margin: 2px;
    text-align: center;
    border-radius: .2rem;
    transition: all .2s ease-in-out;
}

.sns_section .sns_button:hover {
    background-color: #cccccc;
}

.sns_section .sns_button a {
    display: block;
    color: white;
    font-size: 12px;
    padding: .5rem 1rem;
}

.sns_section .twitter {
    background-color: #1da1f2;
}

.sns_section .facebook {
    background-color: #3b5998;
}

.sns_section .pocket {
    background-color: #ef4056;
}

.sns_section .line {
    background-color: #00c300;
}

.sns_section .hatena {
    background-color: #008fde;
}

.sns_section .sns_button .fa-hatena:before {
    content: "B!" !important;
    font-family: Verdana !important;
    font-weight: bold !important;
    font-style: normal;
}

.sns_section .sns_button .fa-line:before {
    content: "LINE" !important;
    font-family: 'ヒラギノ角ゴ ProN W3', Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif !important;
    font-weight: bold !important;
    font-style: normal;
}

/*--------------------------------------------------------------
# Toggle
--------------------------------------------------------------*/

.wp-block-ub-content-toggle {
    margin-bottom: 60px;
}

/*--------------------------------------------------------------
# Fukidashi
--------------------------------------------------------------*/

.fukidashi img {
    border-radius: 50%;
    border: 3px solid #429ad4;
}

.fukidashi>div {
    position: relative;
    display: inline-block;
    margin: 0 0 60px 30px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    min-height: 80px;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}

.fukidashi>div:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}

.fukidashi>div>p {
    margin: 1rem 0 !important;
    padding: 0 !important;
}

/*--------------------------------------------------------------
# Toggle
--------------------------------------------------------------*/

.wp-block-ub-content-toggle-accordion-content-wrap *:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Marker
--------------------------------------------------------------*/

.pinkline {
    background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #FFDFEF 0%) repeat scroll 0 0;
}

.yellowline {
    background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #ffffbc 0%) repeat scroll 0 0;
}

.blueline {
    background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #cce5ff 0%) repeat scroll 0 0;
}

/*--------------------------------------------------------------
# Appreach
--------------------------------------------------------------*/

.appreach {
    border: 3px solid #eee;
}

.appreach {
    text-align: left;
    padding: 25px;
    margin: 20px 20px 60px;
    border-radius: 2px;
    overflow: hidden;
}

.appreach:after {
    content: "";
    display: block;
    clear: both;
}

.appreach img,
.appreach p {
    margin: 0;
    padding: 0;
}

.appreach a:after {
    display: none;
}

.appreach__icon {
    float: left;
    border-radius: 10%;
    overflow: hidden;
    margin: 0 3% 0 0 !important;
    width: 25% !important;
    height: auto !important;
    max-width: 120px !important;
}

.appreach__detail {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    width: 72%;
    max-width: 72%;
}

.appreach__detail:after {
    content: "";
    display: block;
    clear: both;
}

p.appreach__name {
    font-size: 16px;
    color: #555;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 1.5em !important;
    max-height: 3em;
    overflow: hidden;
}

.appreach__info {
    font-size: 12px !important;
    color: #888;
}

.appreach__info a {
    color: #aaa;
}

.appreach__developper,
.appreach__price {
    margin-right: 0.5em;
}

.appreach__posted a {
    margin-left: 0.5em;
}

.appreach__links {
    float: left;
    height: 40px;
    margin-top: 15px;
    white-space: nowrap;
}

.appreach__aslink img {
    margin-right: 10px;
    height: 40px;
    width: 135px;
}

.appreach__gplink img {
    height: 40px;
    width: 134.5px;
}

@media only screen and (max-width: 786px) {
    .appreach {
        margin: 20px 0;
    }

    .appreach__info {
        font-size: 11px !important;
    }

    p.appreach__name {
        font-size: 15px;
    }
}