/*
Theme Name: Placid-Clean
Template: placid
Version: 1.0.7
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Noto, Hiragino Sans, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}

ul,
ol,
li>ul,
li>ol {
    margin-left: 0;
}

a,
a:visited {
    color: #429ad4;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

#primary {
    padding: 0;
}

@media (min-width: 991px) {
    #primary {
        width: calc(100% / 3 * 2);
        padding-right: 15px;
    }

    #secondary {
        width: calc(100% / 3);
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-branding .site-title a {
    line-height: 40px;
}

.site-branding .site-title a:hover,
.entry-header .entry-title a:hover {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/

#primary article {
    border: none;
}

article.post .entry-meta {
    color: #999;
}

.byline,
.updated:not(.published) {
    display: inline;
}

.single-post article.post .entry-title {
    font-size: 30px;
    text-align: center;
}

.single-post article.post .entry-meta {
    text-align: center;
}

.single-post article.post .post-thumb img {
    float: none;
    margin-top: 30px;
    margin-bottom: 40px;
}

.single-post article.post .entry-content p,
.single-post article.post .entry-content ul,
.single-post article.post .entry-content table,
.single-post article.post .entry-content figure,
.single-post article.post .entry-content div {
    font-size: 17px;
    margin-bottom: 60px;
}

.single-post article.post .entry-content li ul {
    margin-bottom: 0;
}

article .entry-content h2 {
    background: #f7f7f7;
    padding: 20px 15px 18px;
    color: #333;
    border-left: 9px solid #429ad4;
    line-height: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
}

article .entry-content h3 {
    letter-spacing: 1.6px;
    padding: 0px 15px 0px;
    border-left: 9px solid #429ad4;
    color: #333;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 40px;
}

/*--------------------------------------------------------------
## Page
--------------------------------------------------------------*/

.page article.page .entry-title {
    font-size: 30px;
    text-align: center;
}

.page article.page .entry-content p,
.page article.page .entry-content ul,
.page article.page .entry-content table,
.page article.page .entry-content figure,
.page article.page .entry-content div {
    font-size: 17px;
    margin-bottom: 60px;
}

/*--------------------------------------------------------------
## Related Post
--------------------------------------------------------------*/

.related-post .row {
    display: flex;
    flex-flow: row wrap;
}

.related-post article {
    box-shadow: none;
    margin: 15px;
}

@media (min-width: 530px) {
    .related-post article {
        width: calc(100% / 2 - 30px)
    }
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/

.sticky::before {
    top: 10px;
    left: 10px;
}

.has-post-thumbnail .entry-header .entry-title {
    margin-top: 0;
}

/*--------------------------------------------------------------
# Search Result
--------------------------------------------------------------*/

.search-no-results #primary .page-content,
.error404 #primary .page-content {
    float: none;
}

@media (min-width: 767px) {
    .search-results article.has-post-thumbnail .entry-header {
        width: 50%;
    }
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/

.top-header {
    padding: 30px 0;
}

.mid-header {
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .25);
}

.mid-header .main-navigation ul li a {
    font-weight: normal;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

#secondary .widget ul.children li:first-child {
    padding-top: 10px;
}

#secondary .widget ul.children li:last-child {
    padding-bottom: 0;
}

#secondary .widget.popular-posts .wpp-list {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#secondary .widget.popular-posts .wpp-list li {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: 100%;
}

@media (min-width: 530px) and (max-width: 991px) {
    #secondary .widget.popular-posts .wpp-list li {
        width: calc(100% / 2 - 30px);
    }
}

#secondary .widget.popular-posts .wpp-list li a,
#secondary .widget.popular-posts .wpp-list li a img {
    width: 100%;
    max-width: 100%;
}

/*--------------------------------------------------------------
# SNS
--------------------------------------------------------------*/

.sns_section {
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;
    display: flex;
    flex-flow: wrap;
}

.sns_section .sns_button {
    display: block;
    width: calc(100% / 3 - 10px);
    margin: 5px;
    text-align: center;
    border-radius: .2rem;
    transition: all .2s ease-in-out;
}

.sns_section .sns_button:hover {
    background-color: #cccccc;
}

.sns_section .sns_button a {
    display: block;
    color: white;
    font-size: 20px;
    padding: 1.5rem 1rem;
}

.sns_section .twitter {
    background-color: #1da1f2;
}

.sns_section .facebook {
    background-color: #3b5998;
}

.sns_section .pocket {
    background-color: #ef4056;
}

.sns_section .line {
    background-color: #00c300;
}

.sns_section .hatena {
    background-color: #008fde;
}

.sns_section .sns_button .fa-hatena:before {
    content: "B!" !important;
    font-family: Verdana !important;
    font-weight: bold !important;
    font-style: normal;
}

.sns_section .sns_button .fa-line:before {
    content: "LINE" !important;
    font-family: 'ヒラギノ角ゴ ProN W3', Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif !important;
    font-weight: bold !important;
    font-style: normal;
}